.header {
    display: flex;
    align-items: center;
    object-fit: contain;
    width: 100%;
    background-color: white!important;
}

.header__logo {
    width: 80px;
}

.header__link {
    text-decoration: none;
    /*color: #ddc436;*/
}

/*.header__link:hover {
    text-decoration: none;
    color: #36c649!important;
}*/

.header2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__container {
    display: flex;
    max-width: fit-content;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 999px!important;
}

.search__input {
    border: none;
    width: 250px;
    outline-width: 0;
}

.header__right {
    display: flex;
    justify-content: end;
    width: 10%;
    padding-top: 12px;
}

@media only screen and (max-width: 900px) {
    .header2 {
        display: grid;
    }
}