.header {
    display: flex;
    align-items: center;
    object-fit: contain;
    width: 100%;
}

.header__logo {
    width: 100px;
}

.header2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__container {
    display: flex;
    max-width: fit-content;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 999px!important;
}

.search__input {
    border: none;
    width: 250px;
    outline-width: 0;
}

.header__right {
    display: flex;
    justify-content: end;
    width: 10%;
    padding-top: 12px;
}
